body{
    padding-top: 80px;
    font-family: Arial;
}


.video-header{
    display:flex;
    flex-direction: row;
    height:55px;
    justify-content: space-between;
    margin-bottom: 30px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: rgb(255, 255, 255);
    border-bottom: rgb(201, 198, 198) 1px solid;
    z-index: 10;



}


.left-section{
    width:150px;
    margin-right:70px;
    display:flex;
    align-items: center;
}

.hamburger-icon{
    height:40px;
    margin-left:20px;
    margin-right:20px;
}

.youtube-icon{
    height:80px;
}

.middle-section{
    flex:1;
    max-width: 500px;
    display:flex;
    align-items: center;
    flex-direction:row;
}

.search-bar{
    flex:1;
    height:36px;
    width:0;
    padding-left:10px;
    border:rgb(143, 142, 142) solid 1px;
    box-shadow: inset 1px 1px 1px rgb(207, 203, 203);
}

.search-bar::placeholder{
    font-family:Arial;
    font-size:16px;
    
}

.search-button{
    height:40px;
    width:60px;
    background-color: rgb(240, 240, 240);
    border :rgb(143, 142, 142) solid 1px;
}

.search-icon{
    height:25px;
    margin-top:5px;
}

.voice-button{
    height:40px;
    width: 40px;
    background-color:  rgb(240, 240, 240);
    border:none;
    border-radius: 100%;
    margin-left:8px;

}

.voice-search-icon{
    height:25px;
}

.right-section{
    width:250px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right:20px;
    flex-shrink: 0;
}

.live-icon{
    height:24px;
}

.grid-icon{
    height:24px;
}

.notification-container{
    position:relative;
}

.notification-number{
    position:absolute;
    top: -3px;;
    right:0;
    background-color: rgb(207, 29, 29);
    border-radius: 100%;
    color:white;
    font-size: 12px;
    padding-left: 5px;
    padding-right:5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.notification-icon{
    height:24px;
}

.profil-picture{
    height:35px;
    border-radius:100%;

}